<h2 class="screen-align">Afterdetailsswimmingsection</h2>
<div id="template-idzb" class="gjs-row">
    <div id="template-idd6" class="gjs-cell">
        <div id="template-i63rz7" class="gjs-row">
            <div id="template-il170n" class="gjs-cell">
                <img id="template-il4u72" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018331.png"
                class="" />
            </div>
        </div>
        <div id="template-ixqf" class="gjs-row">
            <div id="template-id7i" class="gjs-cell">
                <div id="template-i2gk" class="">
<span id="template-i2ah" class="">
<div id="template-ih5mb" class="">
MENU</div>
</span>

                </div>
                <div id="template-ip9i5" class="gjs-row">
                    <div id="template-ifuxr" class="gjs-cell">
                        <div id="template-ibwvf" class="gjs-row">
                            <div id="template-i1a71" class="gjs-cell">
                                <img id="template-izyzy" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/home.png"
                                class="" />
                            </div>
                            <div id="template-i2mor" class="gjs-cell">
                                <div id="template-iiwkg" class="">
<span id="template-ix09x" class="">
<div id="template-iaw3s" class="">
Home</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i0sl3" class="gjs-row">
                            <div id="template-i2ecy" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Community%201.png"
                                id="template-ia6yq" class="" />
                            </div>
                            <div id="template-iwzvy" class="gjs-cell">
                                <div id="template-igq87" class="">
<span id="template-iuco4" class="">
<div id="template-i4nop" class="">
Community</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-ixv9t" class="gjs-row">
                            <div id="template-iv0kt" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/blue%20my%20features.png"
                                id="template-ixx0h" class="" />
                            </div>
                            <div id="template-i4e57" class="gjs-cell">
                                <div id="template-igfvq" class="">
<span id="template-i7r09" class="">
<div id="template-ionw1" class="">
My Features</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-io1bl" class="gjs-row">
                            <div id="template-iusli" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/trainer%201.png"
                                id="template-ie28b" class="" />
                            </div>
                            <div id="template-iy6je" class="gjs-cell">
                                <div id="template-iq2q8" class="">
<span id="template-ifs56" class="">
<div id="template-i0o8t" class="">
Trainer</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i1mne" class="gjs-row">
                            <div id="template-issmd" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Profile%201.png"
                                id="template-iksrh" class="" />
                            </div>
                            <div id="template-ilbeg" class="gjs-cell">
                                <div id="template-i01e4" class="">
<span id="template-il3ue" class="">
<div id="template-ir2oi" class="">
Profile</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-id40h" class="gjs-row">
            <div id="template-i0o9l" class="gjs-cell">
                <div id="template-i7ut96" class="gjs-row">
                    <div id="template-ig8xmv" class="gjs-cell">
                        <img id="template-if2dbz" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logout%20arrow.png"
                        class="" />
                    </div>
                    <div id="template-ie9i4s" class="gjs-cell">
                        <div id="template-i95lcc" class="">
                            <div id="template-ifly4" class="">Logout</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-itfo" class="gjs-cell">
        <div id="template-i2s3s" class="gjs-row">
            <div id="template-ichy5" class="gjs-cell">
                <img id="template-i9qfn" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/left%20arrow%201.png"
                class="" />
            </div>
            <div id="template-ijkdv" class="gjs-cell">
                <div id="template-innfz" class="">
                    <div id="template-i5zj8" class=""></div>
                </div>
            </div>
            <div id="template-iplkex" class="gjs-cell">
                <input id="template-it8bl4" placeholder="Search" class="input Speed "
                />
            </div>
        </div>
        <div id="template-ipbzoj" class="gjs-row">
            <div id="template-iubb1x" class="gjs-cell">
                <div id="template-i3whxz" class="gjs-row">
                    <div id="template-ija2tr" class="gjs-cell">
                        <div id="template-iwgo55" class="gjs-row">
                            <div id="template-iv8qc4" class="gjs-cell">
                                <img id="template-injlb3" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/calander.png"
                                class="" />
                            </div>
                            <div id="template-ifnaik" class="gjs-cell">
                                <div id="template-irex9s" class="">
                                    <div id="template-i0ryi" class="">Today</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-ipgu5h" class="gjs-row">
            <div id="template-ir1ygv" class="gjs-cell">
                <div id="template-inmaxp" class="gjs-row">
                    <div id="template-i25a6h" class="gjs-cell">
                        <div id="template-iwa4ie" class="gjs-row">
                            <div id="template-in2dq5" class="gjs-cell">
                                <img id="template-iij9es" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/running%20workout%201.png"
                                class="" />
                            </div>
                        </div>
                    </div>
                    <div id="template-if48d1" class="gjs-cell">
                        <div id="template-iu4it7" class="">
                            <div id="template-i7y6r" class="">47 Of 641</div>
                        </div>
                        <div id="template-ikaihk" class="">
                            <div id="template-inud8" class="">Cal Burnt</div>
                        </div>
                    </div>
                    <div id="template-i2o12i" class="gjs-cell">
                        <div id="template-in9bt2" class="gjs-row">
                            <div id="template-iadptt" class="gjs-cell">
                                <img id="template-ip771t" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/insigh%20icon.png"
                                class="" />
                            </div>
                        </div>
                    </div>
                    <div id="template-iiftxw" class="gjs-cell">
                        <div id="template-i1g4ma" class="gjs-row">
                            <div id="template-i0i3kl" class="gjs-cell">
                                <img id="template-i358tj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/plus1.png"
                                class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iz1kai" class="gjs-row">
            <div id="template-iqruzx" class="gjs-cell">
                <div id="template-i103zq" class="gjs-row">
                    <div id="template-ib7zzf" class="gjs-cell">
                        <div id="template-i8l0jp" class="gjs-row">
                            <div id="template-itdri2" class="gjs-cell">
                                <div id="template-il91gp" class=""></div>
                            </div>
                        </div>
                    </div>
                    <div id="template-iasl7t" class="gjs-cell">
                        <div id="template-i9oivg" class="">
                            <div id="template-i581hf" class="">Walking</div>
                        </div>
                        <div id="template-ivblou" class="">
                            <div id="template-iww27z" class="">1.17 Km , 20 Minutes</div>
                        </div>
                    </div>
                    <div id="template-iz5gul" class="gjs-cell">
                        <div id="template-ico7gd" class="">
                            <div id="template-i8q2nj" class="">47 Cal</div>
                        </div>
                    </div>
                    <div id="template-iq5d2f" class="gjs-cell">
                        <img id="template-in3ane" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/dots%201.png"
                        class="" />
                    </div>
                </div>
            </div>
        </div>
        <div id="template-isi48o" class="gjs-row">
            <div id="template-ikq26j" class="gjs-cell">
                <div id="template-i9peb7" class="gjs-row">
                    <div id="template-invrys" class="gjs-cell">
                        <div id="template-ihhwhk" class="gjs-row">
                            <div id="template-inuqhe" class="gjs-cell">
                                <div id="template-ihvgdj" class=""></div>
                            </div>
                        </div>
                    </div>
                    <div id="template-imtsci" class="gjs-cell">
                        <div id="template-ik4ycu" class="">
                            <div id="template-irf8q4" class="">Swimming</div>
                        </div>
                        <div id="template-icywru" class="">
                            <div id="template-idadvv" class="">2 Minutes , Vigorous</div>
                        </div>
                    </div>
                    <div id="template-it9p2l" class="gjs-cell">
                        <div id="template-iw18mf" class="">
                            <div id="template-i83nmi" class="">27 Cal</div>
                        </div>
                    </div>
                    <div id="template-i94m25" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/dots%201.png"
                        id="template-ivxpgb" class="" />
                    </div>
                </div>
            </div>
        </div>
        <div id="template-ihi7zf" class="gjs-row">
            <div id="template-i25b2i" class="gjs-cell">
                <div id="template-idjlwk" class="">
                    <div id="template-iszuvp" class="">Workout Plan</div>
                </div>
                <div id="template-im9t1l" class="">
                    <div id="template-ioh5qn" class="">Burning your calories helps you get fitter helthier and lose weight</div>
                </div>
            </div>
        </div>
        <div id="template-iaeh5k" class="gjs-row">
            <div id="template-i1arqk" class="gjs-cell">
                <div id="template-iifqui" class=""></div>
            </div>
        </div>
        <div id="template-i223l5" class="gjs-row">
            <div id="template-iy7ffi" class="gjs-cell">
                <button id="template-i1gvzf" class="button btn btn-primary ">
                    <div id="template-iwoyqv" class="">Track Workouts</div>
                </button>
            </div>
        </div>
    </div>
    <div id="template-iziz" class="gjs-cell">
        <div id="template-ix09fg" class="gjs-row">
            <div id="template-i8vna5" class="gjs-cell">
                <div id="template-ihrr9l" class="gjs-row">
                    <div id="template-i9w0nk" class="gjs-cell">
                        <div id="template-i8oyqg" class="">
                            <div id="template-ivh7vp" class="">Ragav</div>
                        </div>
                    </div>
                    <div id="template-iqdak4" class="gjs-cell">
                        <img id="template-i2t9kj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/profile.png"
                        class="" />
                    </div>
                </div>
                <div id="template-ir1nd4" class="gjs-row">
                    <div id="template-i3pyqy" class="gjs-cell">
                        <img id="template-ims38g" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018345.png"
                        class="" />
                        <div id="template-ie82a6" class="gjs-row">
                            <div id="template-i5e60z" class="gjs-cell">
                                <img id="template-i12x8m" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/dots.png"
                                class="" />
                            </div>
                            <div id="template-iti9qi" class="gjs-cell">
                                <div id="template-i9ueh7" class="">
                                    <div id="template-ifutol" class="">Happy Life Style</div>
                                </div>
                            </div>
                            <div id="template-i9ddft" class="gjs-cell">
                                <img id="template-illfjg" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/dots%202.png"
                                class="" />
                            </div>
                        </div>
                        <div id="template-iqloje" class="gjs-row">
                            <div id="template-ic4bfz" class="gjs-cell">
                                <div id="template-ikhi5x" class="">
                                    <div id="template-ilmkrl" class="">Identify the things you think negatively about, and recognize why. evaluate
                                        your thoughts and feelings throughout the day. seek humor in everyday situations
                                        and allow yourself to smile or laugh even when you're upset. live a healthy
                                        lifestyle.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iz5gxw" class="gjs-row">
            <div id="template-i7g2xl" class="gjs-cell">
                <div id="template-ij88vi" class="">
                    <div id="template-i6w3e8" class="">Detailed Premium Analysis</div>
                </div>
                <div id="template-iyeyt6" class="">
                    <div id="template-i4nlep" class="">I've Analysed Your Microunutrient Intake For Iron, Magnesium And Zinc</div>
                </div>
                <button id="template-i1rq9h" class="button btn btn-primary ">
                    <div id="template-imn3yk" class="">Unlock</div>
                </button>
            </div>
        </div>
    </div>
</div>