<div id="template-iie3" class="gjs-row">
    <div id="template-i3i7" class="gjs-cell">
        <div id="template-iaoa" class="gjs-row">
            <div id="template-iozt" class="gjs-cell">
                <div id="template-iw8f" class="gjs-row">
                    <div id="template-iq4d" class="gjs-cell">
                        <div id="template-ieph" class="">
                            <div id="template-itdri" class="">TRANSFORM</div>
                        </div>
                        <div id="template-i44k3" class="">
                            <div id="template-iqnf3" class="">YOUR</div>
                            <br id="template-i3zlg" class="">
                            <div id="template-i7qzy" class="">LIFE</div>
                            <br id="template-iysj4" class="">
                            <div id="template-i4aif" class="">STYLE</div>
                        </div>
                        <div id="template-i1qvj" class="">
                            <div id="template-i4sz7" class="">Step Into A Holistic Lifestyle Experience</div>
                        </div>
                        <button id="template-i4peg" class="button btn btn-primary ">
                            <div id="template-iqc9x" class="">JOINUS</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-iatq" class="gjs-cell">
        <div id="template-iauek" class="">
            <div id="template-isjn3" class="">var items = document.querySelectorAll('#template-iak8e'); for (var i =
                0, len = items.length; i
                < len; i++) { (function(){ var e,t=0,n=function(){
                var e,t=document.createElement( "void"),n={ transition: "transitionend",OTransition:
                "oTransitionEnd",MozTransition: "transitionend",WebkitTransition:
                "webkitTransitionEnd"}; for(e in n)if(void 0!==t.style[e])return n[e]} (),r=function(e){ var
                t=window.getComputedStyle(e),n=t.display,r=(t.position,t.visibility,t.height,parseInt(t[
                "max-height"])); if( "none"!==n&& "0"!==r)return e.offsetHeight; e.style.height="auto"
                ,e.style.display="block" ,e.style.position="absolute" ,e.style.visibility="hidden"
                ; var i=e.offsetHeight; return e.style.height="" ,e.style.display="" ,e.style.position=""
                ,e.style.visibility="" ,i} ,i=function(e){ t=1; var n=r(e),i=e.style; i.display="block"
                ,i.transition="max-height 0.25s ease-in-out" ,i.overflowY="hidden" , ""==i[
                "max-height"]&&(i[ "max-height"]=0),0==parseInt(i[ "max-height"])?(i[ "max-height"]="0"
                ,setTimeout(function(){ i[ "max-height"]=n+ "px"} ,10)):i[ "max-height"]="0"
                } ,a=function(r){ if(r.preventDefault(),!t){ var a=this.closest(
                "[data-gjs=navbar]"),o=a.querySelector( "[data-gjs=navbar-items]"); i(o),e||(o.addEventListener(n,function(){
                t=0; var e=o.style; 0==parseInt(e[ "max-height"])&&(e.display="" ,e[
                "max-height"]="" )} ),e=1)} }; "gjs-collapse"in this||this.addEventListener(
                "click",a),this[ "gjs-collapse"]=1 } .bind(items[i]))(); } </div>
            </div>
            <div id="template-ion9sm" class="gjs-row">
                <div id="template-i7tcyi" class="gjs-cell">
                    <div id="template-ivx5zg" class="">
                        <div id="template-ibam1l" class="">var items = document.querySelectorAll('#template-iak8e'); for (var i =
                            0, len = items.length; i
                            < len; i++) { (function(){ var e,t=0,n=function(){
                            var e,t=document.createElement( "void"),n={ transition: "transitionend",OTransition:
                            "oTransitionEnd",MozTransition: "transitionend",WebkitTransition:
                            "webkitTransitionEnd"}; for(e in n)if(void 0!==t.style[e])return n[e]} (),r=function(e){ var
                            t=window.getComputedStyle(e),n=t.display,r=(t.position,t.visibility,t.height,parseInt(t[
                            "max-height"])); if( "none"!==n&& "0"!==r)return e.offsetHeight; e.style.height="auto"
                            ,e.style.display="block" ,e.style.position="absolute" ,e.style.visibility="hidden"
                            ; var i=e.offsetHeight; return e.style.height="" ,e.style.display="" ,e.style.position=""
                            ,e.style.visibility="" ,i} ,i=function(e){ t=1; var n=r(e),i=e.style; i.display="block"
                            ,i.transition="max-height 0.25s ease-in-out" ,i.overflowY="hidden" , ""==i[
                            "max-height"]&&(i[ "max-height"]=0),0==parseInt(i[ "max-height"])?(i[ "max-height"]="0"
                            ,setTimeout(function(){ i[ "max-height"]=n+ "px"} ,10)):i[ "max-height"]="0"
                            } ,a=function(r){ if(r.preventDefault(),!t){ var a=this.closest(
                            "[data-gjs=navbar]"),o=a.querySelector( "[data-gjs=navbar-items]"); i(o),e||(o.addEventListener(n,function(){
                            t=0; var e=o.style; 0==parseInt(e[ "max-height"])&&(e.display="" ,e[
                            "max-height"]="" )} ),e=1)} }; "gjs-collapse"in this||this.addEventListener(
                            "click",a),this[ "gjs-collapse"]=1 } .bind(items[i]))(); } </div>
                        </div>
                        <div data-gjs="navbar" id="template-igjrk" class="navbar ">
                            <div id="template-intck" class="navbar-container ">
                                <div id="template-icpy" name="link_template-icpy" class=""></div>
                                <img id="ii0r8m" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/health%20monk%20logo1.png"
                                class="" />
                                <div id="template-iak8e" class="navbar-burger ">
                                    <div id="template-iygi4" class="navbar-burger-line ">
                                        <div id="template-i5tlw" class=""></div>
                                    </div>
                                    <div id="template-ikntj" class="navbar-burger-line ">
                                        <div id="template-iymdr2" class=""></div>
                                    </div>
                                    <div id="template-i0h9u" class="navbar-burger-line ">
                                        <div id="template-is4zai" class=""></div>
                                    </div>
                                </div>
                                <div data-gjs="navbar-items" id="template-ior1x" class="navbar-item-c ">
                                    <nav data-gjs="navbar-menus" id="template-iyv8e" class="navbar-menus ">
                                        <label id="template-i1jwl" name="link_template-i1jwl" class="">
                                            <div id="template-il470g" class="">Home</div>
                                        </label>
                                        <label id="template-i1rhd-2" name="link_template-i1rhd" class="">
                                            <div id="template-ijarbv" class="">Services</div>
                                        </label>
                                        <label name="link_template-i1rhd" id="template-ii6ztm" class="">
                                            <div id="template-ijcrtf" class="">Blog</div>
                                        </label>
                                        <label name="link_template-i1rhd" id="template-i84zac" class="">
                                            <div id="template-ikq8pg" class="">Programs</div>
                                        </label>
                                        <div id="MainMenu" class="">
                                            <div id="template-it8vz9" class=""></div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div id="template-ibjnav" class="">
                            <div id="template-idh4kn" class="">var items = document.querySelectorAll('#template-iak8e'); for (var i =
                                0, len = items.length; i
                                < len; i++) { (function(){ var e,t=0,n=function(){
                                var e,t=document.createElement( "void"),n={ transition: "transitionend",OTransition:
                                "oTransitionEnd",MozTransition: "transitionend",WebkitTransition:
                                "webkitTransitionEnd"}; for(e in n)if(void 0!==t.style[e])return n[e]} (),r=function(e){ var
                                t=window.getComputedStyle(e),n=t.display,r=(t.position,t.visibility,t.height,parseInt(t[
                                "max-height"])); if( "none"!==n&& "0"!==r)return e.offsetHeight; e.style.height="auto"
                                ,e.style.display="block" ,e.style.position="absolute" ,e.style.visibility="hidden"
                                ; var i=e.offsetHeight; return e.style.height="" ,e.style.display="" ,e.style.position=""
                                ,e.style.visibility="" ,i} ,i=function(e){ t=1; var n=r(e),i=e.style; i.display="block"
                                ,i.transition="max-height 0.25s ease-in-out" ,i.overflowY="hidden" , ""==i[
                                "max-height"]&&(i[ "max-height"]=0),0==parseInt(i[ "max-height"])?(i[ "max-height"]="0"
                                ,setTimeout(function(){ i[ "max-height"]=n+ "px"} ,10)):i[ "max-height"]="0"
                                } ,a=function(r){ if(r.preventDefault(),!t){ var a=this.closest(
                                "[data-gjs=navbar]"),o=a.querySelector( "[data-gjs=navbar-items]"); i(o),e||(o.addEventListener(n,function(){
                                t=0; var e=o.style; 0==parseInt(e[ "max-height"])&&(e.display="" ,e[
                                "max-height"]="" )} ),e=1)} }; "gjs-collapse"in this||this.addEventListener(
                                "click",a),this[ "gjs-collapse"]=1 } .bind(items[i]))(); } </div>
                            </div>
                            <div id="template-ie5ky" class="gjs-row">
                                <div id="template-ii272" class="gjs-cell">
                                    <div id="template-ii6jb" class="gjs-row">
                                        <div id="template-i68il" class="gjs-cell">
                                            <div id="template-i798l" class="">
<span id="template-i19cmz" class="">
<div id="template-ig68kn" class="">
TRANSFORM</div>
</span>

                                            </div>
                                            <div id="template-ij8o9j" class="">
                                                <div id="template-ili8fa" class="">YOUR LIFE STYLE</div>
                                            </div>
                                            <div id="template-ix46ca" class="">
                                                <div id="template-ichh1k" class="">Step Into A Holistic Lifestyle Experience</div>
                                            </div>
                                            <button id="template-id9j04" class="button btn btn-primary ">
                                                <div id="template-ixx6v3" class="">JOIN US</div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>