<h2 class="screen-align">Deleteitemspopupscreen</h2>
<div id="template-idzb" class="gjs-row">
    <div id="template-idd6" class="gjs-cell">
        <div id="template-i63rz7" class="gjs-row">
            <div id="template-il170n" class="gjs-cell">
                <img id="template-il4u72" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018331.png"
                class="" />
            </div>
        </div>
        <div id="template-ixqf" class="gjs-row">
            <div id="template-id7i" class="gjs-cell">
                <div id="template-i2gk" class="">
<span id="template-i2ah" class="">
<div id="template-iweaa" class="">
MENU</div>
</span>

                </div>
                <div id="template-ip9i5" class="gjs-row">
                    <div id="template-ifuxr" class="gjs-cell">
                        <div id="template-ibwvf" class="gjs-row">
                            <div id="template-i1a71" class="gjs-cell">
                                <img id="template-izyzy" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/home.png"
                                class="" />
                            </div>
                            <div id="template-i2mor" class="gjs-cell">
                                <div id="template-iiwkg" class="">
<span id="template-ix09x" class="">
<div id="template-ifptr" class="">
Home</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i0sl3" class="gjs-row">
                            <div id="template-i2ecy" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Community%201.png"
                                id="template-ia6yq" class="" />
                            </div>
                            <div id="template-iwzvy" class="gjs-cell">
                                <div id="template-igq87" class="">
<span id="template-iuco4" class="">
<div id="template-igldb" class="">
Community</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-ixv9t" class="gjs-row">
                            <div id="template-iv0kt" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/blue%20my%20features.png"
                                id="template-ixx0h" class="" />
                            </div>
                            <div id="template-i4e57" class="gjs-cell">
                                <div id="template-igfvq" class="">
<span id="template-i7r09" class="">
<div id="template-ickhn" class="">
My Features</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-io1bl" class="gjs-row">
                            <div id="template-iusli" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/trainer%201.png"
                                id="template-ie28b" class="" />
                            </div>
                            <div id="template-iy6je" class="gjs-cell">
                                <div id="template-iq2q8" class="">
<span id="template-ifs56" class="">
<div id="template-izbuv" class="">
Trainer</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i1mne" class="gjs-row">
                            <div id="template-issmd" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Profile%201.png"
                                id="template-iksrh" class="" />
                            </div>
                            <div id="template-ilbeg" class="gjs-cell">
                                <div id="template-i01e4" class="">
<span id="template-il3ue" class="">
<div id="template-iy0mi" class="">
Profile</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-id40h" class="gjs-row">
            <div id="template-i0o9l" class="gjs-cell">
                <div id="template-i7ut96" class="gjs-row">
                    <div id="template-ig8xmv" class="gjs-cell">
                        <img id="template-if2dbz" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logout%20arrow.png"
                        class="" />
                    </div>
                    <div id="template-ie9i4s" class="gjs-cell">
                        <div id="template-i95lcc" class="">
                            <div id="template-ipm55" class="">Logout</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-itfo" class="gjs-cell">
        <div id="template-i2s3s" class="gjs-row">
            <div id="template-ichy5" class="gjs-cell">
                <img id="template-i9qfn" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/left%20arrow%201.png"
                class="" />
            </div>
            <div id="template-ijkdv" class="gjs-cell">
                <div id="template-i8u1g" class=""></div>
            </div>
            <div id="template-iplkex" class="gjs-cell">
                <input id="template-it8bl4" placeholder="Search" class="input form-control "
                />
            </div>
        </div>
        <div id="template-iixngx" class="gjs-row">
            <div id="template-i9a2q" class=""></div>
        </div>
        <div id="template-id6yi" class="gjs-row">
            <div id="template-i38n8" class="gjs-cell">
                <div id="template-iqmjf" class="gjs-row">
                    <div id="template-i31x2" class="gjs-cell">
                        <div id="template-i3fru" class="gjs-row">
                            <div id="template-iqb07" class="gjs-cell">
                                <div id="template-i8efq" class="">
                                    <div id="template-ic08o" class="">Delete the Meal</div>
                                </div>
                            </div>
                            <div id="template-i3w8l" class="gjs-cell">
                                <div id="template-iml3l" class="gjs-row">
                                    <div id="template-i8g7j" class="gjs-cell">
                                        <div id="template-iatsdr" class="">
                                            <div id="template-ii7w6" class="">Cancel</div>
                                        </div>
                                    </div>
                                    <div id="template-i78idf" class="gjs-cell">
                                        <button id="template-isr1c" class="button btn btn-primary ">
                                            <div id="template-imu7i" class="">Confirm</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-iziz" class="gjs-cell">
        <div id="template-ix09fg" class="gjs-row">
            <div id="template-i8vna5" class="gjs-cell">
                <div id="template-ihrr9l" class="gjs-row">
                    <div id="template-i9w0nk" class="gjs-cell">
                        <div id="template-i8oyqg" class="">
                            <div id="template-iglnk" class="">Ragav</div>
                        </div>
                    </div>
                    <div id="template-iqdak4" class="gjs-cell">
                        <img id="template-i2t9kj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/profile.png"
                        class="" />
                    </div>
                </div>
                <div id="template-ir1nd4" class="gjs-row">
                    <div id="template-i3pyqy" class="gjs-cell">
                        <img id="template-ims38g" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018335.png"
                        class="" />
                        <div id="template-ibsi1l" class="">
                            <div id="template-ivv68" class="">Healthy Eating Is A Way Of Life, So Its Important To Establish Routines That
                                Are Simple, Realistic And Ultimately Liveable.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iz5gxw" class="gjs-row">
            <div id="template-i7g2xl" class="gjs-cell">
                <div id="template-ij88vi" class="">
                    <div id="template-iwo8c" class="">Your free recommendations have been exhausted. go premium now to get unlimited
                        access</div>
                    <br id="template-it3v8t" class="">
                </div>
                <div id="template-iyeyt6" class="">
                    <div id="template-ib0ekm" class="">Get A Complete Study Of Your Meal With Appropriate Food And Top Contributors.</div>
                </div>
                <button id="template-i1rq9h" class="button btn btn-primary ">
                    <div id="template-igxadn" class="">Unlock</div>
                </button>
            </div>
        </div>
    </div>
</div>