<h2 class="screen-align">Exercisescr</h2>
<div id="template-idzb" class="gjs-row">
    <div id="template-idd6" class="gjs-cell">
        <div id="template-i63rz7" class="gjs-row">
            <div id="template-il170n" class="gjs-cell">
                <img id="template-il4u72" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018331.png"
                class="" />
            </div>
        </div>
        <div id="template-ixqf" class="gjs-row">
            <div id="template-id7i" class="gjs-cell">
                <div id="template-i2gk" class="">
<span id="template-i2ah" class="">
<div id="template-i8xvg" class="">
MENU</div>
</span>

                </div>
                <div id="template-ip9i5" class="gjs-row">
                    <div id="template-ifuxr" class="gjs-cell">
                        <div id="template-ibwvf" class="gjs-row">
                            <div id="template-i1a71" class="gjs-cell">
                                <img id="template-izyzy" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/home.png"
                                class="" />
                            </div>
                            <div id="template-i2mor" class="gjs-cell">
                                <div id="template-iiwkg" class="">
<span id="template-ix09x" class="">
<div id="template-ilxpk" class="">
Home</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i0sl3" class="gjs-row">
                            <div id="template-i2ecy" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Community%201.png"
                                id="template-ia6yq" class="" />
                            </div>
                            <div id="template-iwzvy" class="gjs-cell">
                                <div id="template-igq87" class="">
<span id="template-iuco4" class="">
<div id="template-ig2yh" class="">
Community</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-ixv9t" class="gjs-row">
                            <div id="template-iv0kt" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/blue%20my%20features.png"
                                id="template-ixx0h" class="" />
                            </div>
                            <div id="template-i4e57" class="gjs-cell">
                                <div id="template-igfvq" class="">
<span id="template-i7r09" class="">
<div id="template-i4yxd" class="">
My Features</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-io1bl" class="gjs-row">
                            <div id="template-iusli" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/trainer%201.png"
                                id="template-ie28b" class="" />
                            </div>
                            <div id="template-iy6je" class="gjs-cell">
                                <div id="template-iq2q8" class="">
<span id="template-ifs56" class="">
<div id="template-ij5nm" class="">
Trainer</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i1mne" class="gjs-row">
                            <div id="template-issmd" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Profile%201.png"
                                id="template-iksrh" class="" />
                            </div>
                            <div id="template-ilbeg" class="gjs-cell">
                                <div id="template-i01e4" class="">
<span id="template-il3ue" class="">
<div id="template-iwp0k" class="">
Profile</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-id40h" class="gjs-row">
            <div id="template-i0o9l" class="gjs-cell">
                <div id="template-i7ut96" class="gjs-row">
                    <div id="template-ig8xmv" class="gjs-cell">
                        <img id="template-if2dbz" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logout%20arrow.png"
                        class="" />
                    </div>
                    <div id="template-ie9i4s" class="gjs-cell">
                        <div id="template-i95lcc" class="">
                            <div id="template-ifk7k" class="">Logout</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-itfo" class="gjs-cell">
        <div id="template-i2s3s" class="gjs-row">
            <div id="template-ichy5" class="gjs-cell">
                <img id="template-i9qfn" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/left%20arrow%201.png"
                class="" />
            </div>
            <div id="template-ijkdv" class="gjs-cell">
                <div id="template-innfz" class="">
                    <div id="template-ipb7c" class="">Choose the meal that you wish to track</div>
                </div>
            </div>
            <div id="template-iplkex" class="gjs-cell">
                <input id="template-it8bl4" placeholder="Search" class="input form-control "
                />
            </div>
        </div>
        <div id="template-iixngx" class="gjs-row">
            <div id="template-ihvpn" class=""></div>
        </div>
        <div id="template-i8blz6" class="gjs-row">
            <div id="template-iwtsel" class="gjs-cell">
                <img id="template-i4m3e9" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Lunch_perspective_matte.png"
                class="" />
            </div>
            <div id="template-i3plhm" class="gjs-cell">
                <div id="template-ihflfl" class="">
                    <div id="template-i27vl" class="">48 Of 1000</div>
                </div>
                <div id="template-ivabtg" class="">
                    <div id="template-i7xtv" class="">Cal Consumed</div>
                </div>
            </div>
            <div id="template-imn3fi" class="gjs-cell">
                <div id="template-ijznmd" class="">
                    <button id="template-i1ci3x" class="btn btn-primary ">
<i aria-hidden="true" id="template-i2mg5x" class="fa fa-paperclip ">
<div id="template-inyro" class="">

              </div>
</i>

                    </button>
                </div>
            </div>
        </div>
        <div data-accordions="1" id="template-inshur" class="">
            <div data-accordion-container="1" id="template-iydkmy" class="accordion-container ">
                <div data-accordion="1" id="template-i9qjz3" href="#template-i3cjhl" class="accordion ">
                    <div id="template-iinnh" class="">Idli (Plain)</div>
                </div>
                <div data-accordion-content="1" id="template-i3cjhl" class="accordion-content ">
                    <div id="template-iv9oud" class="gjs-row">
                        <div id="template-i5jzwk" class="gjs-cell">
                            <div id="template-if71k" class=""></div>
                        </div>
                        <div id="template-ib124x" class="gjs-cell">
                            <div id="template-iuf21t" class="gjs-row">
                                <div id="template-i7t7vm" class="gjs-cell">
                                    <div id="template-i4aeym" class="">
                                        <div id="template-irmkn" class="">Save As Meal</div>
                                    </div>
                                </div>
                                <div id="template-i0yref" class="gjs-cell">
                                    <img id="template-irjrac" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%20527.png"
                                    class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-id55ff" class="gjs-row">
            <div id="template-in2vsl" class="gjs-cell">
                <div id="template-in1stc" class="gjs-row">
                    <div id="template-ie3c4j" class="gjs-cell">
                        <div id="template-isnl9d" class="gjs-row">
                            <div id="template-iiqo92" class="gjs-cell">
                                <img id="template-ii0w6n" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/morning3.png"
                                class="" />
                            </div>
                            <div id="template-i3k8yt" class="gjs-cell">
                                <div id="template-io0psf" class="">
                                    <div id="template-i58a2f" class="">Breakfast</div>
                                </div>
                                <div id="template-i72om6" class="">
                                    <div id="template-ifh7mt" class="">48 Of 467 Cal</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-iilm4h" class="gjs-cell">
                        <div id="template-i7s2dx" class="gjs-row">
                            <div id="template-itcmtl" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/mor%20snak.png"
                                id="template-i3a0mj" class="" />
                            </div>
                            <div id="template-inauys" class="gjs-cell">
                                <div id="template-is50wh" class="">
                                    <div id="template-iz68ao" class="">MornSnak</div>
                                </div>
                                <div id="template-it7lse" class="">
                                    <div id="template-ib3fss" class="">0 Of 175 Cal</div>
                                    <br id="template-iy4ht6" class="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-ily8fh" class="gjs-cell">
                        <div id="template-ir598k" class="gjs-row">
                            <div id="template-iufh6i" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/lunch.png"
                                id="template-irq1w8" class="" />
                            </div>
                            <div id="template-iwer2n" class="gjs-cell">
                                <div id="template-ijxy9s" class="">
                                    <div id="template-ihv78h" class="">Lunch</div>
                                </div>
                                <div id="template-iux7od" class="">
                                    <div id="template-i84kco" class="">0 Of 500 Cal</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="template-ifvkp2" class="gjs-cell">
                <div id="template-iao3o9" class="gjs-row">
                    <div id="template-i50eni" class="gjs-cell">
                        <div id="template-i8oqxl" class="gjs-row">
                            <div id="template-ir20gh" class="gjs-cell">
                                <img id="template-ikhygb" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/eve%20snak.png"
                                class="" />
                            </div>
                            <div id="template-iffyn4" class="gjs-cell">
                                <div id="template-ipck8h" class="">
                                    <div id="template-irw7b7" class="">Eve Snak</div>
                                </div>
                                <div id="template-iuy8fy" class="">
<span id="template-il95qw" class="">
<div id="template-ixeafx" class="">
0 Of 500 Cal</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-ic2crm" class="gjs-cell">
                        <div id="template-i8ufrj" class="gjs-row">
                            <div id="template-ia2ph5" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/dinner.png"
                                id="template-irku8p" class="" />
                            </div>
                            <div id="template-ihuwn5" class="gjs-cell">
                                <div id="template-icovh4" class="">
                                    <div id="template-ixas2e" class="">Eve Snak</div>
                                </div>
                                <div id="template-iv48cf" class="">
<span id="template-ipgp3c" class="">
<div id="template-i0jyro" class="">
0 Of 500 Cal</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-ip0s92" class="gjs-row">
            <div id="template-i6vdwj" class="gjs-cell">
                <div id="template-im6gmk" class=""></div>
            </div>
        </div>
        <div id="template-iu41qn" class="gjs-row">
            <div id="template-iqmsk3" class="gjs-cell">
                <button id="template-ihxeci" class="button btn btn-primary ">
                    <div id="template-iog0hb" class="">Track</div>
                </button>
            </div>
        </div>
    </div>
    <div id="template-iziz" class="gjs-cell">
        <div id="template-ix09fg" class="gjs-row">
            <div id="template-i8vna5" class="gjs-cell">
                <div id="template-ihrr9l" class="gjs-row">
                    <div id="template-i9w0nk" class="gjs-cell">
                        <div id="template-i8oyqg" class="">
                            <div id="template-iuffox" class="">Ragav</div>
                        </div>
                    </div>
                    <div id="template-iqdak4" class="gjs-cell">
                        <img id="template-i2t9kj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/profile.png"
                        class="" />
                    </div>
                </div>
                <div id="template-ir1nd4" class="gjs-row">
                    <div id="template-i3pyqy" class="gjs-cell">
                        <img id="template-ims38g" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018335.png"
                        class="" />
                        <div id="template-ibsi1l" class="">
                            <div id="template-ix15gv" class="">Healthy Eating Is A Way Of Life, So Its Important To Establish Routines That
                                Are Simple, Realistic And Ultimately Liveable.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iz5gxw" class="gjs-row">
            <div id="template-i7g2xl" class="gjs-cell">
                <div id="template-ij88vi" class="">
                    <div id="template-intia5" class="">Your free recommendations have been exhausted. go premium now to get unlimited
                        access</div>
                    <br id="template-it3v8t" class="">
                </div>
                <div id="template-iyeyt6" class="">
                    <div id="template-ib7k0h" class="">Get A Complete Study Of Your Meal With Appropriate Food And Top Contributors.</div>
                </div>
                <button id="template-i1rq9h" class="button btn btn-primary ">
                    <div id="template-iep5n8" class="">Unlock</div>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="template-iau3wp" class="">
    <div id="template-i7ahz1" class="">var items = document.querySelectorAll('#template-inshur'); for (var i
        = 0, len = items.length; i
        < len; i++) { (function(){ var t,e=this,r="["
        + "data-accordion"+ "]",n="[" + "data-accordion-container"+ "]",o="accordion-active"
        ,c="href" ,i=document.body,a=i.matchesSelector||i.webkitMatchesSelector||i.mozMatchesSelector||i.msMatchesSelector;
        e.addEventListener( "click",(function(i){ var s,d,l=i.target; a.call(l,r)&&(
        "block"===e.querySelector(l.getAttribute(c)).style.display?(s=l.parentElement,d=s.className.replace(o,
        "").trim(),s.className=d,e.querySelector(l.getAttribute(c)).style.display="none"
        ):(!function(r){ var c=e.querySelectorAll(n)||[]; if(i)for(t=0;t<c.length;t++){
        var i=c[t],a=i.className.replace(o, "").trim(); i.className=a} r.className+=" "
        +o} (l.parentElement),e.querySelector(l.getAttribute(c)).style.display="block"
        ))} )) } .bind(items[i]))(); } </div>
    </div>