<h2 class="screen-align">Workoutreminderpopupscreen</h2>
<div id="template-idzb" class="gjs-row">
    <div id="template-idd6" class="gjs-cell">
        <div id="template-i63rz7" class="gjs-row">
            <div id="template-il170n" class="gjs-cell">
                <img id="template-il4u72" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018331.png"
                class="" />
            </div>
        </div>
        <div id="template-ixqf" class="gjs-row">
            <div id="template-id7i" class="gjs-cell">
                <div id="template-i2gk" class="">
<span id="template-i2ah" class="">
<div id="template-i1y9h" class="">
MENU</div>
</span>

                </div>
                <div id="template-ip9i5" class="gjs-row">
                    <div id="template-ifuxr" class="gjs-cell">
                        <div id="template-ibwvf" class="gjs-row">
                            <div id="template-i1a71" class="gjs-cell">
                                <img id="template-izyzy" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/home.png"
                                class="" />
                            </div>
                            <div id="template-i2mor" class="gjs-cell">
                                <div id="template-iiwkg" class="">
<span id="template-ix09x" class="">
<div id="template-ibuoi" class="">
Home</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i0sl3" class="gjs-row">
                            <div id="template-i2ecy" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Community%201.png"
                                id="template-ia6yq" class="" />
                            </div>
                            <div id="template-iwzvy" class="gjs-cell">
                                <div id="template-igq87" class="">
<span id="template-iuco4" class="">
<div id="template-izwcw" class="">
Community</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-ixv9t" class="gjs-row">
                            <div id="template-iv0kt" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/blue%20my%20features.png"
                                id="template-ixx0h" class="" />
                            </div>
                            <div id="template-i4e57" class="gjs-cell">
                                <div id="template-igfvq" class="">
<span id="template-i7r09" class="">
<div id="template-ix6hc" class="">
My Features</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-io1bl" class="gjs-row">
                            <div id="template-iusli" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/trainer%201.png"
                                id="template-ie28b" class="" />
                            </div>
                            <div id="template-iy6je" class="gjs-cell">
                                <div id="template-iq2q8" class="">
<span id="template-ifs56" class="">
<div id="template-iao7n" class="">
Trainer</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i1mne" class="gjs-row">
                            <div id="template-issmd" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Profile%201.png"
                                id="template-iksrh" class="" />
                            </div>
                            <div id="template-ilbeg" class="gjs-cell">
                                <div id="template-i01e4" class="">
<span id="template-il3ue" class="">
<div id="template-is6b3" class="">
Profile</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-id40h" class="gjs-row">
            <div id="template-i0o9l" class="gjs-cell">
                <div id="template-i7ut96" class="gjs-row">
                    <div id="template-ig8xmv" class="gjs-cell">
                        <img id="template-if2dbz" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logout%20arrow.png"
                        class="" />
                    </div>
                    <div id="template-ie9i4s" class="gjs-cell">
                        <div id="template-i95lcc" class="">
                            <div id="template-i0ywp" class="">Logout</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-itfo" class="gjs-cell">
        <div id="template-i2s3s" class="gjs-row">
            <div id="template-ichy5" class="gjs-cell">
                <img id="template-i9qfn" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/left%20arrow%201.png"
                class="" />
            </div>
            <div id="template-ijkdv" class="gjs-cell">
                <div id="template-innfz" class="">
                    <div id="template-iwipf" class=""></div>
                </div>
            </div>
            <div id="template-iplkex" class="gjs-cell">
                <input id="template-it8bl4" placeholder="Search" class="input Speed "
                />
            </div>
        </div>
        <div id="template-iz1kai" class="gjs-row">
            <div id="template-iqruzx" class="gjs-cell">
                <div id="template-i103zq" class="gjs-row">
                    <div id="template-iasl7t" class="gjs-cell">
                        <div id="template-i1c7uo" class="gjs-row">
                            <div id="template-iyiu2u" class="gjs-cell">
                                <img id="template-ierddh" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/blue%20left%20arrow.png"
                                class="" />
                            </div>
                        </div>
                    </div>
                    <div id="template-ixtbbt" class="gjs-cell">
                        <div id="template-iv69ed" class="">
                            <div id="template-igq97" class="">Your Workout</div>
                        </div>
                    </div>
                    <div id="template-iq5d2f" class="gjs-cell">
                        <input type="radio" id="template-ibhcy5" class="radio form-control " />
                    </div>
                </div>
                <div id="template-ite5ok" class="gjs-row">
                    <div id="template-ic46up" class="gjs-cell">
                        <div id="template-if3gl" class=""></div>
                    </div>
                </div>
                <div id="template-ihhkog" class="gjs-row">
                    <div id="template-if3jeo" class="gjs-cell">
                        <div id="template-i3seal" class="">
                            <div id="template-ioz4r" class="">Get Reminder To Start Your Workout</div>
                        </div>
                        <div id="template-ikrxey" class="">
                            <div id="template-i0fod" class="">Workout reminders motivate you to gear up for your workout once your done
                                they enable you to track your exercises</div>
                        </div>
                    </div>
                </div>
                <div id="template-i3p06z" class="gjs-row">
                    <div id="template-ic4dl5" class="gjs-cell">
                        <div id="template-ifxb6r" class="gjs-row">
                            <div id="template-ialya5" class="gjs-cell">
                                <div id="template-ir3okc" class="countdown ">
<span data-js="countdown-endtext" id="template-iduj4u" class="countdown-endtext ">
</span>

                                </div>
                                <input type="radio" id="template-idvip1" class="radio form-control " />
                            </div>
                            <div id="template-ihasr4" class="gjs-cell">
                                <div id="template-i1nbdp" class="countdown ">
<span data-js="countdown-endtext" id="template-ix27oj" class="countdown-endtext ">
</span>

                                </div>
                                <div id="template-ir2pt7" class="">
                                    <div id="template-izwwz" class="">Remind Me Every Day At</div>
                                </div>
                            </div>
                            <div id="template-ix9g8c" class="gjs-cell">
                                <div id="template-ig5a5g" class="countdown ">
<span data-js="countdown-endtext" id="template-ifnzta" class="countdown-endtext ">
</span>

                                </div>
                                <div id="template-ijlyt8" class="">
                                    <div id="template-iig747" class="">07:30 Pm</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-id9pp4" class="gjs-row">
                            <div id="template-imybbl" class="gjs-cell">
                                <div id="template-it60r4" class="gjs-row">
                                    <div id="template-i8go1k" class="gjs-cell">
                                        <div id="template-ic5az4" class="">
                                            <div id="template-ionxa4" class="">Time</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="template-izx84l" class="countdown ">
<span data-js="countdown" id="template-izo63m" class="countdown-cont ">
<div id="template-iu6hmk" class="countdown-block ">
<div data-js="countdown-day" id="template-ibzfgl" class="countdown-digit ">
<div id="template-iz0twv" class="">

                      </div>
</div>
<div id="template-iqg737" class="countdown-label ">
<div id="template-ie48ei" class="">
HOURS
                      </div>
</div>
</div>
<div id="template-ip6o73" class="countdown-block ">
<div data-js="countdown-day" id="template-ic531i" class="countdown-digit ">
<div id="template-i3rm36" class="">

                      </div>
</div>
<div id="template-iwgqn1" class="countdown-label ">
<div id="template-idx6cb" class="">
MINUTES
                      </div>
</div>
</div>
<div id="template-ipoujc" class="countdown-block ">
<div id="template-i9kmz4" class="countdown-label ">
<div id="template-inigvf" class="">
PM
                      </div>
</div>
<div id="template-imqfkl" class="gjs-row">
<div id="template-i1e0jr" class="gjs-cell">
<div id="template-ipokh5" class="">

                        </div>
</div>
</div>
<div id="template-ibwoqe" class="countdown-label ">
<div id="template-icqrxm" class="">
AM
                      </div>
</div>
</div>
</span>

<span data-js="countdown-endtext" id="template-it35jl" class="countdown-endtext ">
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-i6xrtd" class="gjs-row">
                    <div id="template-ii7g0m" class="gjs-cell">
                        <button id="template-ifv9z3" class="button btn btn-primary ">
                            <div id="template-inf36i" class="">Done</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-iziz" class="gjs-cell">
        <div id="template-ix09fg" class="gjs-row">
            <div id="template-i8vna5" class="gjs-cell">
                <div id="template-ihrr9l" class="gjs-row">
                    <div id="template-i9w0nk" class="gjs-cell">
                        <div id="template-i8oyqg" class="">
                            <div id="template-i5uisc" class="">Ragav</div>
                        </div>
                    </div>
                    <div id="template-iqdak4" class="gjs-cell">
                        <img id="template-i2t9kj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/profile.png"
                        class="" />
                    </div>
                </div>
                <div id="template-ir1nd4" class="gjs-row">
                    <div id="template-i3pyqy" class="gjs-cell">
                        <img id="template-ims38g" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018345.png"
                        class="" />
                        <div id="template-ie82a6" class="gjs-row">
                            <div id="template-i5e60z" class="gjs-cell">
                                <img id="template-i12x8m" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/dots.png"
                                class="" />
                            </div>
                            <div id="template-iti9qi" class="gjs-cell">
                                <div id="template-i9ueh7" class="">
                                    <div id="template-i76xgu" class="">Happy Life Style</div>
                                </div>
                            </div>
                            <div id="template-i9ddft" class="gjs-cell">
                                <img id="template-illfjg" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/dots%202.png"
                                class="" />
                            </div>
                        </div>
                        <div id="template-iqloje" class="gjs-row">
                            <div id="template-ic4bfz" class="gjs-cell">
                                <div id="template-ikhi5x" class="">
                                    <div id="template-ivtwwm" class="">Identify the things you think negatively about, and recognize why. evaluate
                                        your thoughts and feelings throughout the day. seek humor in everyday situations
                                        and allow yourself to smile or laugh even when you're upset. live a healthy
                                        lifestyle.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iz5gxw" class="gjs-row">
            <div id="template-i7g2xl" class="gjs-cell">
                <div id="template-ij88vi" class="">
                    <div id="template-ichoqk" class="">Detailed Premium Analysis</div>
                </div>
                <div id="template-iyeyt6" class="">
                    <div id="template-is012v" class="">I've Analysed Your Microunutrient Intake For Iron, Magnesium And Zinc</div>
                </div>
                <button id="template-i1rq9h" class="button btn btn-primary ">
                    <div id="template-i122mj" class="">Unlock</div>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="template-ioaqtb" class="">
    <div id="template-i8rr7l" class="">var items = document.querySelectorAll('#template-ir3okc'); for (var i
        = 0, len = items.length; i
        < len; i++) { (function(){ var e=new Date( "").getTime(),t=this.querySelector(
        "[data-js=countdown]"),n=this.querySelector( "[data-js=countdown-endtext]"),r=this.querySelector(
        "[data-js=countdown-day]"),i=this.querySelector( "[data-js=countdown-hour]"),a=this.querySelector(
        "[data-js=countdown-minute]"),o=this.querySelector( "[data-js=countdown-second]"),s=this.gjs_countdown_interval;
        s&&s&&clearInterval(s); var l=function(e,t,n,s){ r.innerHTML=e<10? "0"+e:e,i.innerHTML=t<10?
        "0"+t:t,a.innerHTML=n<10? "0"+n:n,o.innerHTML=s<10? "0"+s:s} ,u=function(){
        var r=(new Date).getTime(),i=e-r,a=Math.floor(i/864e5),o=Math.floor(i%864e5/36e5),s=Math.floor(i%36e4/6e4),u=Math.floor(i%6e4/1e3);
        l(a,o,s,u),i<0&&(clearInterval(c),n.innerHTML="EXPIRED" ,t.style.display="none"
        ,n.style.display="" )}; if(e){ var c=setInterval(u,1e3); this.gjs_countdown_interval=c,n.style.display="none"
        ,t.style.display="" ,u()} else l(0,0,0,0) } .bind(items[i]))(); } var items=d
        ocument.querySelectorAll( '#template-i1nbdp'); for (var i=0 , len=i tems.length;
        i < len; i++) { (function(){ var e=new Date( "").getTime(),t=this.querySelector(
        "[data-js=countdown]"),n=this.querySelector( "[data-js=countdown-endtext]"),r=this.querySelector(
        "[data-js=countdown-day]"),i=this.querySelector( "[data-js=countdown-hour]"),a=this.querySelector(
        "[data-js=countdown-minute]"),o=this.querySelector( "[data-js=countdown-second]"),s=this.gjs_countdown_interval;
        s&&s&&clearInterval(s); var l=function(e,t,n,s){ r.innerHTML=e<10? "0"+e:e,i.innerHTML=t<10?
        "0"+t:t,a.innerHTML=n<10? "0"+n:n,o.innerHTML=s<10? "0"+s:s} ,u=function(){
        var r=(new Date).getTime(),i=e-r,a=Math.floor(i/864e5),o=Math.floor(i%864e5/36e5),s=Math.floor(i%36e4/6e4),u=Math.floor(i%6e4/1e3);
        l(a,o,s,u),i<0&&(clearInterval(c),n.innerHTML="EXPIRED" ,t.style.display="none"
        ,n.style.display="" )}; if(e){ var c=setInterval(u,1e3); this.gjs_countdown_interval=c,n.style.display="none"
        ,t.style.display="" ,u()} else l(0,0,0,0) } .bind(items[i]))(); } var items=d
        ocument.querySelectorAll( '#template-ig5a5g'); for (var i=0 , len=i tems.length;
        i < len; i++) { (function(){ var e=new Date( "").getTime(),t=this.querySelector(
        "[data-js=countdown]"),n=this.querySelector( "[data-js=countdown-endtext]"),r=this.querySelector(
        "[data-js=countdown-day]"),i=this.querySelector( "[data-js=countdown-hour]"),a=this.querySelector(
        "[data-js=countdown-minute]"),o=this.querySelector( "[data-js=countdown-second]"),s=this.gjs_countdown_interval;
        s&&s&&clearInterval(s); var l=function(e,t,n,s){ r.innerHTML=e<10? "0"+e:e,i.innerHTML=t<10?
        "0"+t:t,a.innerHTML=n<10? "0"+n:n,o.innerHTML=s<10? "0"+s:s} ,u=function(){
        var r=(new Date).getTime(),i=e-r,a=Math.floor(i/864e5),o=Math.floor(i%864e5/36e5),s=Math.floor(i%36e4/6e4),u=Math.floor(i%6e4/1e3);
        l(a,o,s,u),i<0&&(clearInterval(c),n.innerHTML="EXPIRED" ,t.style.display="none"
        ,n.style.display="" )}; if(e){ var c=setInterval(u,1e3); this.gjs_countdown_interval=c,n.style.display="none"
        ,t.style.display="" ,u()} else l(0,0,0,0) } .bind(items[i]))(); } var items=d
        ocument.querySelectorAll( '#template-izx84l'); for (var i=0 , len=i tems.length;
        i < len; i++) { (function(){ var e=new Date( "").getTime(),t=this.querySelector(
        "[data-js=countdown]"),n=this.querySelector( "[data-js=countdown-endtext]"),r=this.querySelector(
        "[data-js=countdown-day]"),i=this.querySelector( "[data-js=countdown-hour]"),a=this.querySelector(
        "[data-js=countdown-minute]"),o=this.querySelector( "[data-js=countdown-second]"),s=this.gjs_countdown_interval;
        s&&s&&clearInterval(s); var l=function(e,t,n,s){ r.innerHTML=e<10? "0"+e:e,i.innerHTML=t<10?
        "0"+t:t,a.innerHTML=n<10? "0"+n:n,o.innerHTML=s<10? "0"+s:s} ,u=function(){
        var r=(new Date).getTime(),i=e-r,a=Math.floor(i/864e5),o=Math.floor(i%864e5/36e5),s=Math.floor(i%36e4/6e4),u=Math.floor(i%6e4/1e3);
        l(a,o,s,u),i<0&&(clearInterval(c),n.innerHTML="EXPIRED" ,t.style.display="none"
        ,n.style.display="" )}; if(e){ var c=setInterval(u,1e3); this.gjs_countdown_interval=c,n.style.display="none"
        ,t.style.display="" ,u()} else l(0,0,0,0) } .bind(items[i]))(); } </div>
    </div>