<h2 class="screen-align">Nutritioninsightsalldetails</h2>
<div id="template-idzb" class="gjs-row">
    <div id="template-idd6" class="gjs-cell">
        <div id="template-iae126" class="gjs-row">
            <div id="template-i3aglh" class="gjs-cell">
                <img id="template-ihlsxz" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logo1.png"
                class="" />
            </div>
        </div>
        <div id="template-ixqf" class="gjs-row">
            <div id="template-id7i" class="gjs-cell">
                <div id="template-i2gk" class="">
<span id="template-i2ah" class="">
<div id="template-i5917" class="">
MENU</div>
</span>

                </div>
                <div id="template-ip9i5" class="gjs-row">
                    <div id="template-ifuxr" class="gjs-cell">
                        <div id="template-ibwvf" class="gjs-row">
                            <div id="template-i1a71" class="gjs-cell">
                                <img id="template-izyzy" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/home.png"
                                class="" />
                            </div>
                            <div id="template-i2mor" class="gjs-cell">
                                <div id="template-iiwkg" class="">
<span id="template-ix09x" class="">
<div id="template-i9xkq" class="">
Home</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i0sl3" class="gjs-row">
                            <div id="template-i2ecy" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Community.png"
                                id="template-ia6yq" class="" />
                            </div>
                            <div id="template-iwzvy" class="gjs-cell">
                                <div id="template-igq87" class="">
<span id="template-iuco4" class="">
<div id="template-i15za" class="">
Community</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-ixv9t" class="gjs-row">
                            <div id="template-iv0kt" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/blue%20my%20features.png"
                                id="template-ixx0h" class="" />
                            </div>
                            <div id="template-i4e57" class="gjs-cell">
                                <div id="template-igfvq" class="">
<span id="template-i7r09" class="">
<div id="template-i43m7" class="">
My Features</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-io1bl" class="gjs-row">
                            <div id="template-iusli" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/trainer.png"
                                id="template-ie28b" class="" />
                            </div>
                            <div id="template-iy6je" class="gjs-cell">
                                <div id="template-iq2q8" class="">
<span id="template-ifs56" class="">
<div id="template-iwwvg" class="">
Trainer</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i1mne" class="gjs-row">
                            <div id="template-issmd" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Profile.png"
                                id="template-iksrh" class="" />
                            </div>
                            <div id="template-ilbeg" class="gjs-cell">
                                <div id="template-i01e4" class="">
<span id="template-il3ue" class="">
<div id="template-ieca1" class="">
Profile</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-id40h" class="gjs-row">
            <div id="template-i0o9l" class="gjs-cell">
                <div id="template-i7ut96" class="gjs-row">
                    <div id="template-ig8xmv" class="gjs-cell">
                        <img id="template-if2dbz" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logout%20arrow.png"
                        class="" />
                    </div>
                    <div id="template-ie9i4s" class="gjs-cell">
                        <div id="template-i95lcc" class="">
                            <div id="template-ije7x" class="">Logout</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-itfo" class="gjs-cell">
        <div id="template-i2s3s" class="gjs-row">
            <div id="template-ichy5" class="gjs-cell">
                <img id="template-i9qfn" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/left%20arrow%201.png"
                class="" />
            </div>
            <div id="template-ijkdv" class="gjs-cell">
                <div id="template-innfz" class="">
                    <div id="template-i62av" class="">Insights All</div>
                </div>
            </div>
            <div id="template-iplkex" class="gjs-cell">
                <input id="template-it8bl4" placeholder="Search" class="input form-control "
                />
            </div>
        </div>
        <div id="template-iu1q8u" class="gjs-row">
            <div id="template-iifrgg" class="gjs-cell">
                <div id="template-iq7sxc" class="gjs-row">
                    <div id="template-iu9pnc" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/noun-calendar-1624740%20%282%29.png"
                        id="template-ikyka9" class="" />
                        <div id="template-ien85f" class="">
                            <div id="template-icvyl" class="">Today Insights</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="template-ile3dc" class="gjs-cell">
                <div id="template-ibb4t8" class="">
                    <div>
                        <select id="template-i7mj9p" class="form-control ">
                            <option *ngFor="let option of options" [ngValue]="option.key">{{option.value}}</option>
                        </select>
                    </div>
                    <div value="1" id="template-ity13f" class="">
                        <div id="template-iwurz" class="">1</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-ixw5c5" class="gjs-row">
            <div id="template-ieonvi" class="gjs-cell">
                <div id="template-icm8wp" class="gjs-row">
                    <div id="template-i6c5mf" class="gjs-cell">
                        <div id="template-igdnay" class="">
                            <div id="template-iuoap" class="">all</div>
                        </div>
                    </div>
                    <div id="template-inj4d5" class="gjs-cell">
                        <div id="template-i35fah" class="">
                            <div id="template-imo14" class="">Breakfast</div>
                        </div>
                    </div>
                    <div id="template-i1f3ug" class="gjs-cell">
                        <div id="template-it8qsp" class="">
                            <div id="template-ihbtj" class="">Morning Snack</div>
                        </div>
                    </div>
                    <div id="template-ir2uhh" class="gjs-cell">
                        <div id="template-iltg1u" class="">
                            <div id="template-iwtw1" class="">Lunch</div>
                        </div>
                    </div>
                    <div id="template-iv29e8" class="gjs-cell">
                        <div id="template-ikreis" class="">
                            <div id="template-ibjc8" class="">Evening Snack</div>
                        </div>
                    </div>
                    <div id="template-icvybg" class="gjs-cell">
                        <div id="template-irwd96" class="">
                            <div id="template-i7jp1" class="">Dinner</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-ir2vi4" class="gjs-row">
            <div id="template-ibhqgt" class="gjs-cell">
                <div id="template-ifhxrc" class="">
                    
<h1 id="template-iovkqt" class="">
<div id="template-inz534" class="">
Food Log Analysis
            </div>
</h1>

                </div>
                <div id="template-i74gyh" class="">
                    <div id="template-ilo4kr" class="">You are just a few calories away to reach your calorie goal. you had 78
                        calories for breakfast but thats a bit low.</div>
                    <br id="template-ijujwh"
                    class="">
                </div>
            </div>
        </div>
        <div id="template-i26515" class="gjs-row">
            <div id="template-idtnbi" class="gjs-cell">
                <div id="template-iqwitp" class="gjs-row">
                    <div id="template-iwokhg" class=""></div>
                </div>
                <div id="template-irqizp" class="gjs-row">
                    <div id="template-i9jjlr" class="gjs-cell">
                        <div id="template-ifuc5g" class="gjs-row">
                            <div id="template-imnsxh" class="gjs-cell">
                                <div id="template-ipsg9m" class="">
                                    <div id="template-ifs8lj" class="">Your Calorie Budget</div>
                                </div>
                            </div>
                            <div id="template-iulvbc" class="gjs-cell">
                                <img id="template-isx3bc" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/share%20icon.png"
                                class="" />
                            </div>
                        </div>
                        <div id="template-i93994" class="gjs-row">
                            <div id="template-i93fdc" class="gjs-cell">
                                <img id="template-ijfq6s" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/apple.png"
                                class="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-idq4pk" class="gjs-row">
                    <div id="template-ij4vog" class="gjs-cell">
                        <div id="template-i0i58k" class="gjs-row">
                            <div id="template-i50l8f" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/proten.png"
                                id="template-ikmwhm" class="" />
                            </div>
                            <div id="template-i3lmvm" class="gjs-cell">
                                <div id="template-iqh7d6" class="">
<span id="template-ipbque" class="">
<b id="template-ilfj0m" class="">
<div id="template-i9lmcq" class="">
Proten
                      </div>
</b>
<br id="template-itu3mx" class="">
</span>

                                    <div id="template-i0nzdl" class="">2.5 g</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-ikgb1k" class="gjs-cell">
                        <div id="template-iy43nv" class="gjs-row">
                            <div id="template-igi4ei" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Carbs.png"
                                id="template-ii2z2c" class="" />
                            </div>
                            <div id="template-iy1w5i" class="gjs-cell">
                                <div id="template-idfbcg" class="">
<span id="template-ixr9vc" class="">
<b id="template-idizsb" class="">
<div id="template-i76yh2" class="">
Carbs
                      </div>
</b>
<br id="template-i236as" class="">
</span>

                                    <div id="template-is7x5i" class="">15.1 g</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-i2bj25" class="gjs-cell">
                        <div id="template-ihv28f" class="gjs-row">
                            <div id="template-i1vhh8" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Fat.png"
                                id="template-iu8qoe" class="" />
                            </div>
                            <div id="template-iqyggg" class="gjs-cell">
                                <div id="template-imgivx" class="">
<span id="template-iw3kko" class="">
<b id="template-iqy9wg" class="">
<div id="template-itkh62" class="">
Fat
                      </div>
</b>
<br id="template-idpysl" class="">
</span>

                                    <div id="template-inu0cj" class="">0.9 g</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-ie313a" class="gjs-cell">
                        <div id="template-ir9noj" class="gjs-row">
                            <div id="template-ij68hl" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Fiber.png"
                                id="template-igkeun" class="" />
                            </div>
                            <div id="template-ith68k" class="gjs-cell">
                                <div id="template-ibcijl" class="">
<span id="template-ise89o" class="">
<b id="template-in2vo9" class="">
<div id="template-iesy85" class="">
Fiber
                      </div>
</b>
<br id="template-ijlo16" class="">
</span>

                                    <div id="template-ip4lj8" class="">1.1 g</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="template-i7bbo4" class="gjs-cell">
                <div id="template-injk8j" class="gjs-row">
                    <div id="template-inv5gh" class="gjs-cell">
                        <div id="template-ijkqz6" class="">
                            <div>
                                <select id="template-i1vydv" class="form-control ">
                                    <option *ngFor="let option of options" [ngValue]="option.key">{{option.value}}</option>
                                </select>
                            </div>
                            <div value="1" id="template-iwrwmi" class="">
                                <div id="template-ir7bxg" class="">1</div>
                            </div>
                        </div>
                    </div>
                    <div id="template-irnvdf" class="gjs-cell">
                        <img id="template-ip9467" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/share%20icon.png"
                        class="" />
                    </div>
                </div>
                <div id="template-iup42i" class="gjs-row">
                    <div id="template-ifz6ns" class="gjs-cell">
                        <div id="template-ieo2uh" class="">
                            <div id="template-i2ummn" class="">Choose Calories Or Macro</div>
                        </div>
                    </div>
                    <div id="template-ix976z" class="gjs-cell">
                        <div id="template-ihgi6x" class="">
                            <div>
                                <select id="template-iqplcj" class="form-control ">
                                    <option *ngFor="let option of options" [ngValue]="option.key">{{option.value}}</option>
                                </select>
                            </div>
                            <div value="1" id="template-ihcihc" class="">
                                <div id="template-ih3xi1" class="">1</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-iiibtt" class="gjs-row">
                    <div id="template-irq4d5" class="gjs-cell">
                        <div id="template-i9cx1n" class="">
                            <div id="template-ifst1m" class="">418 </div>
<span id="template-icrerf" class="">
<div id="template-i5irl2" class="">
Cal</div>
</span>

                        </div>
                        <div id="template-igs1j6" class="">
<span id="template-isl9eq" class="">
<div id="template-i6hdul" class="">
Weekly Total</div>
</span>

                        </div>
                    </div>
                    <div id="template-io3sq7" class="gjs-cell">
                        <div id="template-ixmyrr" class="">
                            <div id="template-i1keu4" class="">418 </div>
<span id="template-ierio2" class="">
<div id="template-innx15" class="">
Cal</div>
</span>

                        </div>
                        <div id="template-iehf9b" class="">
<span id="template-ird05u" class="">
<div id="template-il3xbv" class="">
Weekly Total</div>
</span>

                        </div>
                    </div>
                </div>
                <div id="template-izbbce" class="gjs-row">
                    <div id="template-ixp5qi" class="gjs-cell">
                        <div id="template-inygq4" class=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-i0yc0j" class="gjs-row">
            <div id="template-il1t9s" class="gjs-cell">
                <div id="template-ituyxi" class="gjs-row">
                    <div id="template-in7dpv" class="gjs-cell">
                        <div id="template-isp76p" class="gjs-row">
                            <div id="template-iutm65" class="gjs-cell">
                                <div id="template-itm2se" class="">
                                    <div id="template-i6toh1" class="">Your Calorie Budget</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-iud3ac" class="gjs-row">
                            <div id="template-il95ft" class="gjs-cell">
                                <img id="template-ihakkk" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/apple.png"
                                class="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="template-i3irah" class="gjs-cell">
                <div id="template-i9o0yo" class="gjs-row">
                    <div id="template-i7ov26" class="gjs-cell">
                        <div id="template-ixto2d" class="">
                            <div id="template-ixe4x6" class="">Macronutrients Breakup</div>
                        </div>
                    </div>
                </div>
                <div id="template-in8ecn" class="gjs-row">
                    <div id="template-if8jx9" class="gjs-cell">
                        <div id="template-iiqs2k" class="gjs-row">
                            <div id="template-i4aqta" class="gjs-cell">
                                <div id="template-ie0nj8" class="gjs-row">
                                    <div id="template-if72g6" class="gjs-cell">
                                        <img id="template-i5zmmy" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/proten.png"
                                        class="" />
                                    </div>
                                </div>
                            </div>
                            <div id="template-ihxutf" class="gjs-cell">
                                <div id="template-i1udfi" class="">
<b id="template-ioa9vd" class="">
<div id="template-iab14k" class="">
Proten
                    </div>
</b>

                                </div>
                                <div id="template-i6gbl6" class="">
                                    <div id="template-i9h547" class="">2.5 g</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-ib99pl" class="gjs-cell">
                        <div id="template-i2i5ct" class="gjs-row">
                            <div id="template-is0rwl" class="gjs-cell">
                                <div id="template-irlxak" class="gjs-row">
                                    <div id="template-i7i6vi" class="gjs-cell">
                                        <img id="template-ipldbh" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Carbs.png"
                                        class="" />
                                    </div>
                                </div>
                            </div>
                            <div id="template-i9hn3l" class="gjs-cell">
                                <div id="template-ifyk7k" class="">
<b id="template-ilsgbs" class="">
<div id="template-iyd3fd" class="">
Carbs 
                    </div>
</b>

                                </div>
                                <div id="template-i9ywh2" class="">
                                    <div id="template-iphxcl" class="">2.5 g</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-imi8s1" class="gjs-cell">
                        <div id="template-ixme9z" class="gjs-row">
                            <div id="template-idl3wp" class="gjs-cell">
                                <div id="template-irz46l" class="gjs-row">
                                    <div id="template-iqdbyr" class="gjs-cell">
                                        <img id="template-idfy32" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Fat.png"
                                        class="" />
                                    </div>
                                </div>
                            </div>
                            <div id="template-i5efw8" class="gjs-cell">
                                <div id="template-izcxw8" class="">
<b id="template-i85kxy" class="">
<div id="template-ik0cwn" class="">
Fat  
                    </div>
</b>

                                </div>
                                <div id="template-ik7lm9" class="">
                                    <div id="template-ih9uli" class="">2.5 g</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-ipg229" class="gjs-cell">
                        <div id="template-inqerk" class="gjs-row">
                            <div id="template-icbx5p" class="gjs-cell">
                                <div id="template-igzfzu" class="gjs-row">
                                    <div id="template-i89zdr" class="gjs-cell">
                                        <img id="template-iimka4" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Fiber.png"
                                        class="" />
                                    </div>
                                </div>
                            </div>
                            <div id="template-i98xg2" class="gjs-cell">
                                <div id="template-igk2gx" class="">
<b id="template-is21e3" class="">
<div id="template-i2n1td" class="">
Fiber 
                    </div>
</b>

                                </div>
                                <div id="template-iqfx3n" class="">
                                    <div id="template-ilcrnm" class="">2.5 g</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iqqdf9" class="gjs-row">
            <div id="template-i10s8p" class="gjs-cell">
                <div id="template-iqncop" class="">
                    
<h1 id="template-ii0z5h" class="">
<div id="template-iqm5dy" class="">
Weekly Trends
            </div>
</h1>

                </div>
                <div id="template-i1bd2q" class="">
                    <div id="template-inogjm" class="">See your weekly calorie and macro ( protein ,fat , carbs and fibre ) intake
                        here .for an accurate analysis , track your breakfast ,lunch dinner and
                        snacks every day.</div>
                    <br id="template-i4wqsl" class="">
                </div>
            </div>
        </div>
        <div id="template-i02fox" class="gjs-row">
            <div id="template-it36ys" class="gjs-cell">
                <div id="template-i7nqyl" class="gjs-row">
                    <div id="template-i0llfq" class="gjs-cell">
                        <div id="template-ivxc6h" class="gjs-row">
                            <div id="template-iy1epk" class="gjs-cell">
                                <div id="template-idoy9j" class="">
                                    <div id="template-io6itm" class="">Insert your text here</div>
                                </div>
                                <div id="template-ird09n" class="gjs-row">
                                    <div id="template-ijrp21" class="gjs-cell">
                                        <div id="template-i69pth" class="">
                                            <div id="template-iek4oc" class="">Choose Calories or Macro :</div>
                                        </div>
                                    </div>
                                    <div id="template-i8lnd3" class="gjs-cell">
                                        <div>
                                            <select id="template-iuiox3" class="select ">
                                                <option *ngFor="let option of options" [ngValue]="option.key">{{option.value}}</option>
                                            </select>
                                        </div>
                                        <div value="Calories" id="template-ij7g6e" class="">
                                            <div id="template-iybge3" class="">Calories</div>
                                        </div>
                                        <div value="Protein" id="template-isrlsf" class="">
                                            <div id="template-iyh98h" class="">Protein</div>
                                        </div>
                                        <div value="Fibre" id="template-iliy5f" class="">
                                            <div id="template-iam6lm" class="">Fibre</div>
                                        </div>
                                        <div value="Carbohydrates" id="template-iziz7h" class="">
                                            <div id="template-ibdiak" class="">Carbohydrates</div>
                                        </div>
                                        <div value="Fats" id="template-ifmzl1" class="">
                                            <div id="template-iirupx" class="">Fats</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="template-iy7tzc" class="gjs-row">
                                    <div id="template-i0f5di" class="gjs-cell">
                                        <div id="template-iqa0lh" class="">
                                            <div id="template-is5ezn" class="">418 cal</div>
                                        </div>
                                        <div id="template-in8sbr" class="">
                                            <div id="template-i9nra4" class="">Weekly Total</div>
                                        </div>
                                    </div>
                                    <div id="template-irclzl" class="gjs-cell">
                                        <div id="template-ii9yyq" class="">
                                            <div id="template-ij62pr" class="">48 cal</div>
                                        </div>
                                        <div id="template-iymi1k" class="">
                                            <div id="template-iqa1xk" class="">Average Per Day</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-ix8nfj" class="gjs-cell">
                        <div id="template-idgos7" class=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-ibtxo1" class="gjs-row">
            <div id="template-i6ku7m" class="gjs-cell">
                <div id="template-il3ns6" class="">
                    
<h1 id="template-iox2nb" class="">
<div id="template-ilvsej" class="">
Don't miss out!
            </div>
</h1>

                </div>
                <div id="template-in6i3z" class="">
                    <div id="template-ijxls4" class="">Track to get insights on nutrients ,good /bad foods, and get healthy food
                        suggestion.</div>
                    <br id="template-ip8xn7" class="">
                </div>
                <div id="template-iwjlsv" class="gjs-row">
                    <div id="template-ikfmz7" class="gjs-cell">
                        <div id="template-idlifb" class="">
                            <div id="template-itpjtn" class="">TRACK YOUR MEAL</div>
                        </div>
                    </div>
                    <div id="template-i6vcuk" class="gjs-cell">
                        <img id="template-i6sjl9" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018343.png"
                        class="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-iziz" class="gjs-cell">
        <div id="template-ix09fg" class="gjs-row">
            <div id="template-i8vna5" class="gjs-cell">
                <div id="template-ihrr9l" class="gjs-row">
                    <div id="template-i9w0nk" class="gjs-cell">
                        <div id="template-i8oyqg" class="">
                            <div id="template-i75mdg" class="">Ragav</div>
                        </div>
                    </div>
                    <div id="template-iqdak4" class="gjs-cell">
                        <img id="template-i2t9kj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/profile.png"
                        class="" />
                    </div>
                </div>
                <div id="template-ir1nd4" class="gjs-row">
                    <div id="template-i3pyqy" class="gjs-cell">
                        <img id="template-ims38g" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/images.png"
                        class="" />
                        <div id="template-ibsi1l" class="">
                            <div id="template-i29rm4" class="">Healthy Eating Is A Way Of Life, So Its Important To Establish Routines That
                                Are Simple, Realistic And Ultimately Liveable.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iz5gxw" class="gjs-row">
            <div id="template-i7g2xl" class="gjs-cell">
                <div id="template-ij88vi" class="">
                    <div id="template-iihnri" class="">Your free recommendations have been exhausted. go premium now to get unlimited
                        access</div>
                    <br id="template-it3v8t" class="">
                </div>
                <div id="template-iyeyt6" class="">
                    <div id="template-i6m52w" class="">Get A Complete Study Of Your Meal With Appropriate Food And Top Contributors.</div>
                </div>
                <button id="template-i1rq9h" class="button btn btn-primary ">
                    <div id="template-ifnaoj" class="">Unlock</div>
                </button>
            </div>
        </div>
    </div>
</div>