<h2 class="screen-align">Selectfooddetails</h2>
<div id="template-idzb" class="gjs-row">
    <div id="template-idd6" class="gjs-cell">
        <div id="template-i63rz7" class="gjs-row">
            <div id="template-il170n" class="gjs-cell">
                <img id="template-il4u72" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018331.png"
                class="" />
            </div>
        </div>
        <div id="template-ixqf" class="gjs-row">
            <div id="template-id7i" class="gjs-cell">
                <div id="template-i2gk" class="">
<span id="template-i2ah" class="">
<div id="template-izqkc" class="">
MENU</div>
</span>

                </div>
                <div id="template-ip9i5" class="gjs-row">
                    <div id="template-ifuxr" class="gjs-cell">
                        <div id="template-ibwvf" class="gjs-row">
                            <div id="template-i1a71" class="gjs-cell">
                                <img id="template-izyzy" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/home.png"
                                class="" />
                            </div>
                            <div id="template-i2mor" class="gjs-cell">
                                <div id="template-iiwkg" class="">
<span id="template-ix09x" class="">
<div id="template-ix1or" class="">
Home</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i0sl3" class="gjs-row">
                            <div id="template-i2ecy" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Community%201.png"
                                id="template-ia6yq" class="" />
                            </div>
                            <div id="template-iwzvy" class="gjs-cell">
                                <div id="template-igq87" class="">
<span id="template-iuco4" class="">
<div id="template-isoe4" class="">
Community</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-ixv9t" class="gjs-row">
                            <div id="template-iv0kt" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/blue%20my%20features.png"
                                id="template-ixx0h" class="" />
                            </div>
                            <div id="template-i4e57" class="gjs-cell">
                                <div id="template-igfvq" class="">
<span id="template-i7r09" class="">
<div id="template-iivkk" class="">
My Features</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-io1bl" class="gjs-row">
                            <div id="template-iusli" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/trainer%201.png"
                                id="template-ie28b" class="" />
                            </div>
                            <div id="template-iy6je" class="gjs-cell">
                                <div id="template-iq2q8" class="">
<span id="template-ifs56" class="">
<div id="template-i7t2y" class="">
Trainer</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i1mne" class="gjs-row">
                            <div id="template-issmd" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Profile%201.png"
                                id="template-iksrh" class="" />
                            </div>
                            <div id="template-ilbeg" class="gjs-cell">
                                <div id="template-i01e4" class="">
<span id="template-il3ue" class="">
<div id="template-irbbl" class="">
Profile</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-id40h" class="gjs-row">
            <div id="template-i0o9l" class="gjs-cell">
                <div id="template-i7ut96" class="gjs-row">
                    <div id="template-ig8xmv" class="gjs-cell">
                        <img id="template-if2dbz" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logout%20arrow.png"
                        class="" />
                    </div>
                    <div id="template-ie9i4s" class="gjs-cell">
                        <div id="template-i95lcc" class="">
                            <div id="template-i9vu5" class="">Logout</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-itfo" class="gjs-cell">
        <div id="template-i2s3s" class="gjs-row">
            <div id="template-ichy5" class="gjs-cell">
                <img id="template-i4kfaa" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/back%20arrow.png"
                class="" />
            </div>
            <div id="template-ijkdv" class="gjs-cell">
                <div id="template-innfz" class="">
                    <div id="template-i17qn" class="">Choose the meal that you wish to track</div>
                </div>
            </div>
            <div id="template-iplkex" class="gjs-cell">
                <input id="template-it8bl4" placeholder="Search" class="input form-control "
                />
            </div>
        </div>
        <div id="template-iixngx" class="gjs-row">
            <div id="template-ijiw1" class=""></div>
        </div>
        <div id="template-i8blz6" class="gjs-row">
            <div id="template-iwtsel" class="gjs-cell">
                <img id="template-i4m3e9" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/food1.png"
                class="" />
            </div>
            <div id="template-i3plhm" class="gjs-cell">
                <div id="template-ihflfl" class="">
                    <div id="template-i8jqx" class="">0 Of 1000</div>
                </div>
                <div id="template-ivabtg" class="">
                    <div id="template-ix0cr" class="">Cal Consumed</div>
                </div>
            </div>
            <div id="template-imn3fi" class="gjs-cell">
                <div id="template-itxrno" class="gjs-row">
                    <div id="template-itudjy" class="gjs-cell">
                        <img id="template-ikewkg" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/insights%20blue.png"
                        class="" />
                    </div>
                </div>
            </div>
        </div>
        <div data-accordions="1" id="template-inshur" class="">
            <div data-accordion-container="1" id="template-iydkmy" class="accordion-container ">
                <div data-accordion="1" id="template-i9qjz3" href="#template-i3cjhl" class="accordion ">
                    <div id="template-igw5e" class="">Idli (Plain)</div>
                </div>
                <div data-accordion-content="1" id="template-i3cjhl" class="accordion-content ">
                    <div id="template-iv9oud" class="gjs-row">
                        <div id="template-i5jzwk" class="gjs-cell">
                            <div id="template-ihijv" class=""></div>
                        </div>
                        <div id="template-ib124x" class="gjs-cell">
                            <div id="template-iuf21t" class="gjs-row">
                                <div id="template-i7t7vm" class="gjs-cell">
                                    <div id="template-i4aeym" class="">
                                        <div id="template-ivs8b" class="">Save As Meal</div>
                                    </div>
                                </div>
                                <div id="template-i0yref" class="gjs-cell">
                                    <img id="template-irjrac" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%20527.png"
                                    class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-id55ff" class="gjs-row">
            <div id="template-in2vsl" class="gjs-cell">
                <div id="template-i86oql" class="gjs-row">
                    <div id="template-iyhe2f" class="gjs-cell">
                        <div id="template-io33gr" class="gjs-row">
                            <div id="template-ifss87" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/morning3.png"
                                id="template-iotfv4" class="" />
                            </div>
                            <div id="template-i09plm" class="gjs-cell">
                                <div id="template-ifdwzj" class="">
                                    <div id="template-im9scp" class="">Breakfast</div>
                                </div>
                                <div id="template-iwwg6z" class="">
                                    <div id="template-i73eyk" class="">48 Of 467 Cal</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-iede8l" class="gjs-cell">
                        <div id="template-i2u2b8" class="gjs-row">
                            <div id="template-ig34ol" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/mor%20snak.png"
                                id="template-ip5hxu" class="" />
                            </div>
                            <div id="template-i19wvj" class="gjs-cell">
                                <div id="template-iwt28j" class="">
                                    <div id="template-iw92pk" class="">MornSnak</div>
                                </div>
                                <div id="template-ia30iv" class="">
                                    <div id="template-iid3pv" class="">0 Of 175 Cal</div>
                                    <br id="template-iow9vm" class="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-itshtt" class="gjs-cell">
                        <div id="template-ivj558" class="gjs-row">
                            <div id="template-ibw9x7" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/lunch.png"
                                id="template-i97su2" class="" />
                            </div>
                            <div id="template-izq3vn" class="gjs-cell">
                                <div id="template-i3rxdc" class="">
                                    <div id="template-ii2ec7" class="">Lunch</div>
                                </div>
                                <div id="template-i347lv" class="">
                                    <div id="template-izxmtj" class="">0 Of 500 Cal</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-i3dmpt" class="gjs-cell">
                        <div id="template-iikoh3" class="gjs-row">
                            <div id="template-is3ay1" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/lunch.png"
                                id="template-i523v3" class="" />
                            </div>
                            <div id="template-ib8f7c" class="gjs-cell">
                                <div id="template-i6hvvx" class="">
                                    <div id="template-is9v55" class="">EveSnack</div>
                                </div>
                                <div id="template-i7fv08" class="">
                                    <div id="template-irouo6" class="">0 Of 500 Cal</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-i74r7x" class="gjs-cell">
                        <div id="template-ibiwtx" class="gjs-row">
                            <div id="template-ie1re1" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/lunch.png"
                                id="template-i8ks4d" class="" />
                            </div>
                            <div id="template-ib9g5f" class="gjs-cell">
                                <div id="template-iswvkp" class="">
                                    <div id="template-ibh4hp" class="">Dinner</div>
                                </div>
                                <div id="template-ildjjj" class="">
                                    <div id="template-igu8b7" class="">0 Of 500 Cal</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-i4crea" class="gjs-row">
            <div id="template-ia74bf" class="gjs-cell">
                <div id="template-iwhldu" class="gjs-row">
                    <div id="template-i7i9su" class="gjs-cell">
                        <div id="template-izgd2r" class="gjs-row">
                            <div id="template-i360mp" class="gjs-cell">
                                <div id="template-i3vtwj" class="">
                                    <div id="template-ivqrzi" class="">Breakfast</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-isgfaq" class="gjs-cell">
                        <div id="template-ieauzi" class="gjs-row">
                            <div id="template-igmttf" class="gjs-cell">
                                <div id="template-ie52eu" class="">
<span id="template-ita56o" class="">
<div id="template-iyvzii" class="">
00 Of 500 Cal</div>
</span>

                                </div>
                            </div>
                            <div id="template-iw6b3a" class="gjs-cell">
                                <div id="template-icoyeq" class="gjs-row">
                                    <div id="template-itqhi1" class="gjs-cell">
                                        <img id="template-i6z8d1" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/add.png"
                                        class="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-isruud" class="gjs-row">
            <div id="template-iqxa1b" class="gjs-cell">
                <div id="template-if2dj8" class="gjs-row">
                    <div id="template-if0zx2" class="gjs-cell">
                        <div id="template-i2lizj" class="gjs-row">
                            <div id="template-im5nb3" class="gjs-cell">
                                <div id="template-ip7ddn" class="">
                                    <div id="template-iwiywx" class="">Morning Snak</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-iu5u08" class="gjs-cell">
                        <div id="template-i4kyo6" class="gjs-row">
                            <div id="template-id4wn8" class="gjs-cell">
                                <div id="template-ix0896" class="">
<span id="template-iil3jx" class="">
<div id="template-i81ejh" class="">
00 Of 500 Cal</div>
</span>

                                </div>
                            </div>
                            <div id="template-iqapin" class="gjs-cell">
                                <div id="template-iuhj26" class="gjs-row">
                                    <div id="template-iebc0n" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/add.png"
                                        id="template-ituodf" class="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iqjn5t" class="gjs-row">
            <div id="template-inss5j" class="gjs-cell">
                <div id="template-iux7uf" class="gjs-row">
                    <div id="template-ifset1" class="gjs-cell">
                        <div id="template-ib0kak" class="gjs-row">
                            <div id="template-iadjr7" class="gjs-cell">
                                <div id="template-i4yspp" class="">
                                    <div id="template-ig91dh" class="">Lunch</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-itpc4e" class="gjs-cell">
                        <div id="template-idijpw" class="gjs-row">
                            <div id="template-iozcr6" class="gjs-cell">
                                <div id="template-iq5191" class="">
<span id="template-ij32ak" class="">
<div id="template-iq9m14" class="">
00 Of 500 Cal</div>
</span>

                                </div>
                            </div>
                            <div id="template-iatcln" class="gjs-cell">
                                <div id="template-i5xj3g" class="gjs-row">
                                    <div id="template-iyrget" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/add.png"
                                        id="template-ijzf8m" class="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-irur8p" class="gjs-row">
            <div id="template-ig7er7" class="gjs-cell">
                <div id="template-i6n2ya" class="gjs-row">
                    <div id="template-iekeif" class="gjs-cell">
                        <div id="template-i05ltk" class="gjs-row">
                            <div id="template-ixnl4f" class="gjs-cell">
                                <div id="template-iult5m" class="">
                                    <div id="template-irimoj" class="">Evening Snak</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-im2kay" class="gjs-cell">
                        <div id="template-iy298g" class="gjs-row">
                            <div id="template-ilm13n" class="gjs-cell">
                                <div id="template-i71v0v" class="">
<span id="template-iemcmy" class="">
<div id="template-igdt0s" class="">
00 Of 500 Cal</div>
</span>

                                </div>
                            </div>
                            <div id="template-i2msa5" class="gjs-cell">
                                <div id="template-iz946m" class="gjs-row">
                                    <div id="template-igt8o2" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/add.png"
                                        id="template-iqcabg" class="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iucul8" class="gjs-row">
            <div id="template-iszwsl" class="gjs-cell">
                <div id="template-i3dkni" class="gjs-row">
                    <div id="template-ifwhq4" class="gjs-cell">
                        <div id="template-i27k4h" class="gjs-row">
                            <div id="template-i4cxv4" class="gjs-cell">
                                <div id="template-iw7nxi" class="">
                                    <div id="template-is29lm" class="">Dinner</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-ipvcbw" class="gjs-cell">
                        <div id="template-ieywtk" class="gjs-row">
                            <div id="template-if5nmm" class="gjs-cell">
                                <div id="template-iuesqf" class="">
<span id="template-i4g2w1" class="">
<div id="template-izi6wg" class="">
00 Of 500 Cal</div>
</span>

                                </div>
                            </div>
                            <div id="template-igmh16" class="gjs-cell">
                                <div id="template-ibgcsn" class="gjs-row">
                                    <div id="template-i8vy4h" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/add.png"
                                        id="template-i47y1j" class="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-ip0s92" class="gjs-row">
            <div id="template-i6vdwj" class="gjs-cell">
                <div id="template-iaiddy" class=""></div>
            </div>
        </div>
        <div id="template-iu41qn" class="gjs-row">
            <div id="template-iqmsk3" class="gjs-cell">
                <button id="template-ihxeci" class="button btn btn-primary ">
                    <div id="template-iwongk" class="">Track</div>
                </button>
            </div>
        </div>
    </div>
    <div id="template-iziz" class="gjs-cell">
        <div id="template-ix09fg" class="gjs-row">
            <div id="template-i8vna5" class="gjs-cell">
                <div id="template-ihrr9l" class="gjs-row">
                    <div id="template-i9w0nk" class="gjs-cell">
                        <div id="template-i8oyqg" class="">
                            <div id="template-izm39w" class="">Ragav</div>
                        </div>
                    </div>
                    <div id="template-iqdak4" class="gjs-cell">
                        <img id="template-i2t9kj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/profile.png"
                        class="" />
                    </div>
                </div>
                <div id="template-ir1nd4" class="gjs-row">
                    <div id="template-i3pyqy" class="gjs-cell">
                        <img id="template-ims38g" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018335.png"
                        class="" />
                        <div id="template-ibsi1l" class="">
                            <div id="template-imhjgr" class="">Healthy Eating Is A Way Of Life, </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iz5gxw" class="gjs-row">
            <div id="template-i7g2xl" class="gjs-cell">
                <div id="template-ij88vi" class="">
                    <div id="template-ixlstz" class="">Your free recommendations have been exhausted. go premium now to get unlimited
                        access</div>
                    <br id="template-it3v8t" class="">
                </div>
                <div id="template-iyeyt6" class="">
                    <div id="template-i0nc4t" class="">Get A Complete Study Of Your Meal With Appropriate Food And Top Contributors.</div>
                </div>
                <button id="template-i1rq9h" class="button btn btn-primary ">
                    <div id="template-iqgf27" class="">Unlock</div>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="template-ie5nof" class="">
    <div id="template-inss0k" class="">var items = document.querySelectorAll('#template-inshur'); for (var i
        = 0, len = items.length; i
        < len; i++) { (function(){ var t,e=this,r="["
        + "data-accordion"+ "]",n="[" + "data-accordion-container"+ "]",o="accordion-active"
        ,c="href" ,i=document.body,a=i.matchesSelector||i.webkitMatchesSelector||i.mozMatchesSelector||i.msMatchesSelector;
        e.addEventListener( "click",(function(i){ var s,d,l=i.target; a.call(l,r)&&(
        "block"===e.querySelector(l.getAttribute(c)).style.display?(s=l.parentElement,d=s.className.replace(o,
        "").trim(),s.className=d,e.querySelector(l.getAttribute(c)).style.display="none"
        ):(!function(r){ var c=e.querySelectorAll(n)||[]; if(i)for(t=0;t<c.length;t++){
        var i=c[t],a=i.className.replace(o, "").trim(); i.className=a} r.className+=" "
        +o} (l.parentElement),e.querySelector(l.getAttribute(c)).style.display="block"
        ))} )) } .bind(items[i]))(); } </div>
    </div>