<h2 class="screen-align">Sleepgoal</h2>
<div id="template-idzb" class="gjs-row">
    <div id="template-idd6" class="gjs-cell">
        <div id="template-i63rz7" class="gjs-row">
            <div id="template-il170n" class="gjs-cell">
                <img id="template-il4u72" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018331.png"
                class="" />
            </div>
        </div>
        <div id="template-ixqf" class="gjs-row">
            <div id="template-id7i" class="gjs-cell">
                <div id="template-i2gk" class="">
<span id="template-i2ah" class="">
<div id="template-i70dk" class="">
MENU</div>
</span>

                </div>
                <div id="template-ip9i5" class="gjs-row">
                    <div id="template-ifuxr" class="gjs-cell">
                        <div id="template-ibwvf" class="gjs-row">
                            <div id="template-i1a71" class="gjs-cell">
                                <img id="template-izyzy" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/home.png"
                                class="" />
                            </div>
                            <div id="template-i2mor" class="gjs-cell">
                                <div id="template-iiwkg" class="">
<span id="template-ix09x" class="">
<div id="template-ifb3e" class="">
Home</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i0sl3" class="gjs-row">
                            <div id="template-i2ecy" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Community%201.png"
                                id="template-ia6yq" class="" />
                            </div>
                            <div id="template-iwzvy" class="gjs-cell">
                                <div id="template-igq87" class="">
<span id="template-iuco4" class="">
<div id="template-iuin1" class="">
Community</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-ixv9t" class="gjs-row">
                            <div id="template-iv0kt" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/blue%20my%20features.png"
                                id="template-ixx0h" class="" />
                            </div>
                            <div id="template-i4e57" class="gjs-cell">
                                <div id="template-igfvq" class="">
<span id="template-i7r09" class="">
<div id="template-ixcpv" class="">
My Features</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-io1bl" class="gjs-row">
                            <div id="template-iusli" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/trainer%201.png"
                                id="template-ie28b" class="" />
                            </div>
                            <div id="template-iy6je" class="gjs-cell">
                                <div id="template-iq2q8" class="">
<span id="template-ifs56" class="">
<div id="template-imp5g" class="">
Trainer</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i1mne" class="gjs-row">
                            <div id="template-issmd" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Profile%201.png"
                                id="template-iksrh" class="" />
                            </div>
                            <div id="template-ilbeg" class="gjs-cell">
                                <div id="template-i01e4" class="">
<span id="template-il3ue" class="">
<div id="template-isrrl" class="">
Profile</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-id40h" class="gjs-row">
            <div id="template-i0o9l" class="gjs-cell">
                <div id="template-i7ut96" class="gjs-row">
                    <div id="template-ig8xmv" class="gjs-cell">
                        <img id="template-if2dbz" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logout%20arrow.png"
                        class="" />
                    </div>
                    <div id="template-ie9i4s" class="gjs-cell">
                        <div id="template-i95lcc" class="">
                            <div id="template-io2b9" class="">Logout</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-itfo" class="gjs-cell">
        <div id="template-i2s3s" class="gjs-row">
            <div id="template-ichy5" class="gjs-cell">
                <img id="template-i9qfn" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/left%20arrow%201.png"
                class="" />
            </div>
            <div id="template-ijkdv" class="gjs-cell">
                <div id="template-innfz" class="">
                    <div id="template-isugv" class="">Sleep Goal</div>
                </div>
            </div>
            <div id="template-iplkex" class="gjs-cell">
                <input id="template-it8bl4" placeholder="Search" class="input Speed "
                />
            </div>
        </div>
        <div id="template-iyyckf" class="gjs-row">
            <div id="template-im3hmh" class="gjs-cell">
                <div id="template-i2luf1" class="">
                    <div id="template-i7rpp" class="">Sleep Goal - Recommended</div>
                </div>
            </div>
            <div id="template-idsghm" class="gjs-cell">
                <div id="template-i6uk11" class="">
                    <div id="template-i9isc" class="">8h 0m</div>
                </div>
            </div>
            <div id="template-i42jek" class="gjs-cell">
                <div id="template-i6qui1" class="">
                    <div id="template-iai1h" class="">7-9 hours is the recommended amount of sleep for all adults from age 18
                        - 64, according to the sleep.</div>
                </div>
            </div>
        </div>
        <div id="template-io6n7s" class="gjs-row">
            <div id="template-i66sel" class="gjs-cell">
                <div id="template-iyjkn5" class="gjs-row">
                    <div id="template-i4jggu" class="gjs-cell">
                        <div id="template-igrxxz" class="gjs-row">
                            <div id="template-i5yn34" class="gjs-cell">
                                <img id="template-i4d0sh" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018350.png"
                                class="" />
                            </div>
                        </div>
                    </div>
                    <div id="template-i2tg8m" class="gjs-cell">
                        <div id="template-i475n3" class="">
                            <div id="template-iz78e" class="">11 : 30 PM</div>
                        </div>
                        <div id="template-ibn3pr" class="">
                            <div id="template-ikelb" class="">Regular Sleep Time</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="template-invhrs" class="gjs-cell">
                <div id="template-iskmhe" class="gjs-row">
                    <div id="template-imgpmt" class="gjs-cell">
                        <div id="template-iuj461" class="gjs-row">
                            <div id="template-ishl1u" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018350.png"
                                id="template-ipeadk" class="" />
                            </div>
                        </div>
                    </div>
                    <div id="template-iy19d6" class="gjs-cell">
                        <div id="template-i3dt14" class="">
                            <div id="template-idd0j" class="">7 : 30 Am</div>
                        </div>
                        <div id="template-i7qlv1" class="">
                            <div id="template-if6r5" class="">Regular Wake Up Time</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iaeh5k" class="gjs-row">
            <div id="template-i1arqk" class="gjs-cell">
                <div id="template-iuj4yi" class=""></div>
            </div>
        </div>
        <div id="template-i223l5" class="gjs-row">
            <div id="template-iy7ffi" class="gjs-cell">
                <button id="template-i1gvzf" class="button btn btn-primary ">
                    <div id="template-ivkgzs" class="">Track</div>
                </button>
            </div>
        </div>
    </div>
    <div id="template-iziz" class="gjs-cell">
        <div id="template-ix09fg" class="gjs-row">
            <div id="template-i8vna5" class="gjs-cell">
                <div id="template-ihrr9l" class="gjs-row">
                    <div id="template-i9w0nk" class="gjs-cell">
                        <div id="template-i8oyqg" class="">
                            <div id="template-i2eu4p" class="">Ragav</div>
                        </div>
                    </div>
                    <div id="template-iqdak4" class="gjs-cell">
                        <img id="template-i2t9kj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/profile.png"
                        class="" />
                    </div>
                </div>
                <div id="template-ir1nd4" class="gjs-row">
                    <div id="template-i3pyqy" class="gjs-cell">
                        <img id="template-ims38g" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/right%20image.png"
                        class="" />
                        <div id="template-ie82a6" class="gjs-row">
                            <div id="template-iti9qi" class="gjs-cell">
                                <div id="template-i9ueh7" class="">
                                    <div id="template-i97yde" class="">You're out of freesuggestions.</div>
                                    <br id="template-ioxmc5" class="">
                                    <div id="template-i0sr3g" class="">upgrade now for unlimited access</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-iqloje" class="gjs-row">
                            <div id="template-ic4bfz" class="gjs-cell">
                                <div id="template-ikhi5x" class="">
                                    <div id="template-iprdhj" class="">The best way to monitor sleep quality is to go to bed at a reasonable
                                        time and to make sure that you are not tired for the next day</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iz5gxw" class="gjs-row">
            <div id="template-i7g2xl" class="gjs-cell">
                <div id="template-ij88vi" class="">
                    <div id="template-iecwly" class="">Detailed Premium Analysis</div>
                </div>
                <div id="template-iyeyt6" class="">
                    <div id="template-iuwcjk" class="">I've Analysed Your Microunutrient Intake For Iron, Magnesium And Zinc</div>
                </div>
                <button id="template-i1rq9h" class="button btn btn-primary ">
                    <div id="template-ic08jh" class="">Unlock</div>
                </button>
            </div>
        </div>
    </div>
</div>